.container {
    max-width: 86.0rem;
}
.align-center {
    text-align: center;
}

.navigation {
    background: #ffffff;
    border-bottom: .1rem solid #E8EAF6;
    display: block;
    height: 6rem;
    width: 100%;
}
.navigation-list {
    list-style: none;
    margin-bottom: 0;
    margin-right: 5.0rem;
}
.navigation-item {
    float: left;
    margin-bottom: 0;
    margin-left: 2.5rem;
    position: relative;
}
.navigation-link {
    display: inline;
    line-height: 6rem;
    font-size: 1.6rem;
    padding: 0;
    text-decoration: none;
    color: #3F51B5;
}

#hero {
    padding: 16px;
}
#hero img {
    max-width: 200px;
}

#about-me h1 {
    padding: 32px;
}

#about-me h3 a {
    color: #3F51B5;
}
